.navbar {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    anchor-name: --title;
}

.rules {
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
}

.rules:hover {
    background-color: black;
    color: white;
    transition: 0.4s;
}

.rules:not(:hover) {
    transition: 0.4s;
}

ul {
    list-style-type: none;
    display: flex;
    position: absolute;
    left: anchor(--title right);
    margin-left: 8px;
}
