.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(100, 100, 111, 0.3);
    position: fixed;
}

.results-modal {
    padding-top: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    gap: 12px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    background-color: white;
    border: 2px solid rgb(240, 240, 240);
    border-radius: 8px;
    position:  absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    height: min(660px, 95vh);

    @media screen and (max-width: 435px) {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        position: fixed;
    }
}

.results-info {
    margin-top: 48px;
    overflow: auto;
    text-align: center;
    display: flex;
    flex-flow: column;
    gap: 12px;

    img {
        align-self: center;
        user-select: none;
    }
}

.close-results {
    margin-top: auto;
    margin-bottom: 50px;
    display: flex;
    gap: 10px;

    h3 {
        margin-top: 4.5px;
    }
}

.share-twitter:hover {
    opacity: 0.5;
}

.dark-mode {
    .results-modal {
        background-color: rgb(40,40,40);
        border-color: rgb(40,40,40);
        box-shadow: none;
    }
}