* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.dark-mode {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.light-mode {
    transition: 0.5s;
}